@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Güünaaydıınn!</h1>
    <p>Dünya üzerindeki zibilyon tane <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a> MVC CRUD uygulamalarından birine daha hoşgeldin.</p>
</div>
